/*-------------------------------------------------
SMACSS: MODULE - DROPDOWN
-------------------------------------------------*/
.dropdown {
  display: block;
  position: relative;

  &--full-width {
    position: static;
  }

  &--top {
    > .dropdown__content {
      position: absolute;
      bottom: 110%;
    }
  }

  &--bottom {
    > .dropdown__content {
      position: absolute;
      top: 110%;
    }
  }

  &--right {
    > .dropdown__content {
      position: absolute;
      left: 110%;
    }

    &-top{
      > .dropdown__content {
        position: absolute;
        left: 110%;
        top: 0;
      }
    }

    &-bottom{
      > .dropdown__content {
        position: absolute;
        left: 110%;
        bottom: 0;
      }
    }
  }

  &--left {
    > .dropdown__content {
      position: absolute;
      right: 110%;
    }


    &-top{
      > .dropdown__content {
        position: absolute;
        right: 110%;
        top: 0;
      }
    }

    &-bottom{
      > .dropdown__content {
        position: absolute;
        right: 110%;
        bottom: 0;
      }
    }
  }

  > .dropdown__caption {
    padding: 10px;

    &:after {
      content: "+";
      padding-left: 1em;
    }
  }

  > .dropdown__content {
    display: none;
    width: 100%;
    max-width: 200%;

    background: #008000;
  }

  &.is-open {
    background: rgba(#fff, .1);

    > .dropdown__caption + .dropdown__content {
      display: block;
    }
  }
}