/*-------------------------------------------------
SMACSS: MODULE - DROPDOWN
-------------------------------------------------*/
$dropdown-content-offset        : 105%;
$dropdown-content-background    : #880088;
$dropdown-opened-background     : rgba(#fff, .05);

.dropdown {
  display: block;
  position: relative;

  &--full-width {
    position: static;
  }

  &--top {
    > .dropdown__content {
      position: absolute;
      bottom: $dropdown-content-offset;
    }
  }

  &--bottom {
    > .dropdown__content {
      position: absolute;
      top: $dropdown-content-offset;
    }
  }

  &--right {
    > .dropdown__content {
      position: absolute;
      left: $dropdown-content-offset;
    }

    &-top{
      > .dropdown__content {
        position: absolute;
        left: $dropdown-content-offset;
        top: 0;
      }
    }

    &-bottom{
      > .dropdown__content {
        position: absolute;
        left: $dropdown-content-offset;
        bottom: 0;
      }
    }
  }

  &--left {
    > .dropdown__content {
      position: absolute;
      right: $dropdown-content-offset;
    }


    &-top{
      > .dropdown__content {
        position: absolute;
        right: $dropdown-content-offset;
        top: 0;
      }
    }

    &-bottom{
      > .dropdown__content {
        position: absolute;
        right: $dropdown-content-offset;
        bottom: 0;
      }
    }
  }

  > .dropdown__caption {
    padding: 10px;

    &:after {
      content: "+";
      padding-left: 1em;
    }
  }

  > .dropdown__content {
    display: none;
    min-width: 100%;

    background: $dropdown-content-background;
  }

  &.is-open {
    background: $dropdown-opened-background;

    > .dropdown__caption + .dropdown__content {
      display: block;
    }
  }
}