<!-- Header -->
<header class="l_header">

    <!-- First line with search bar -->
    <ul class="navigation navigation--middle">
        <li class="navigation__item">
            <a href="#">
                <div class="brand">
                    <img src="favicon.ico" alt=""/>
                </div>
            </a>
        </li>
        <li class="navigation__item">
            <div class="search-bar">
                <div class="search-bar__left-control">select</div>
                <div class="search-bar__right-control">OK</div>
                <div class="search-bar__fill-control">
                    <input type="text" class="search-bar__input"/>
                </div>
            </div>
        </li>
    </ul>
    <!-- Second line with downdown menus -->
    <ul class="navigation">
        <li class="navigation__item is-active">
            <a href="#">
                <div class="navigation__text">Shop</div>
            </a>
        </li>
        <li class="navigation__item is-active">
            <a href="#">
                <div class="navigation__text">Area</div>
            </a>
        </li>
        <li class="navigation__item">
            <a href="#">
                <div class="navigation__text">Blog</div>
            </a>
        </li>
        <li class="navigation__item">
            <div class="dropdown dropdown--bottom">
                <div class="dropdown__caption">Dropdown</div>
                <div class="dropdown__content">

                    <div class="dropdown dropdown--right-top">
                        <div class="dropdown__caption">Powered</div>
                        <div class="dropdown__content">

                            <div class="dropdown dropdown--bottom">
                                <div class="dropdown__caption">by</div>
                                <div class="dropdown__content">

                                    <div class="dropdown dropdown--bottom">
                                        <div class="dropdown__caption">BEM & SMACSS</div>
                                        <div class="dropdown__content">

                                            <div class="dropdown dropdown--left-top">
                                                <div class="dropdown__caption">is</div>
                                                <div class="dropdown__content">

                                                    <div class="dropdown dropdown--bottom">
                                                        <div class="dropdown__caption">Very</div>
                                                        <div class="dropdown__content">

                                                            <div class="dropdown dropdown--bottom">
                                                                <div class="dropdown__caption">Flexible</div>
                                                            </div>
                                                        </div>

                                                    </div>
                                                </div>
                                            </div>

                                        </div>
                                    </div>

                                </div>
                            </div>

                        </div>
                    </div>

                </div>
            </div>
        </li>

         <!-- render in revers direction -->
        <li class="navigation__item navigation__item--right">
            <a href="#">
                <div class="navigation__text">Login</div>
            </a>
        </li>
        <li class="navigation__item navigation__item--right">
            <a href="#">
                <div class="navigation__text">Profile</div>
            </a>
        </li>

    </ul>

</header>