/*-------------------------------------------------
SMACSS: BASE
-------------------------------------------------*/
*, *:before, *:after {
    box-sizing: border-box;
}
body {
    background: #22272a;
    color: $color-base;
    font-family: $font-family-base;
}

a {
    color: $color-alternative;
}
a:hover {
    color: $color-alternative;
}

article{

}