/*-------------------------------------------------
SMACSS: BASE
-------------------------------------------------*/
*, *:before, *:after {
    box-sizing: border-box;
}
body {
    background: $color-base-inverted;
}

a,
input,
select,
textarea {
  outline: none;
}