/*-------------------------------------------------
SMACSS: MODULE - NAVIGATION
-------------------------------------------------*/
$navigation-item-hover-color       : $color-alternative;
$navigation-item-active-background : rgba(#fff, .05);

%navigation__item-base {
  display: inline-block;
  cursor: pointer;
  margin-right: -4px;

  &.is-active {
    background: $navigation-item-active-background;
  }
}

.navigation {
  display: block;
  padding: 0;
  margin: 0;

  list-style: none;
  @include clearfix();
  
  a {
    color: $navigation-item-hover-color;
    text-decoration: none;
    
    &:visited {
      color: $navigation-item-hover-color;
    }
    
    &:hover {
      color: $navigation-item-hover-color;
    }
  }

  &__item {
    @extend %navigation__item-base;

    &--right {
      float: right;
      margin-right: 0px;
      margin-left: -4px;
    }
  }

  &__text{
    padding: 10px 15px;
  }
}

@media (max-width: $page-small) {
  .navigation__item{
    display: block;
    float: none;
  }
}