/*-------------------------------------------------
SMACSS: LAYOUT - GRID SYSTEM
-------------------------------------------------*/
@import "../vendor/susy/sass/susy";

$grid-columns             :  12;
$grid-gutter              : 1/4;
$grid-math                : fluid;
$grid-gutter-position     : inside;
$grid-separator-color     : #aaa;
$grid-item-padding-top    : 5px;
$grid-item-padding-bottom : 5px;

%grid__item {
  overflow: hidden;
  padding-top: $grid-item-padding-top;
  padding-bottom: $grid-item-padding-bottom;
}

$susy: (
        columns: $grid-columns,
        gutters: $grid-gutter,
        math: $grid-math,
        gutter-position: $grid-gutter-position
);

.l_grid {
  @include container();
}

.grid {
  &__twins {
    @extend %grid__item;
    @include span(6 of 12);
  }
  &__quarters {
    @extend %grid__item;
    @include span(3 of 12);
  }
  &__triple {
    @extend %grid__item;
    @include span(4 of 12);
  }
}