/*-------------------------------------------------
SMACSS: LAYOUT - GRID SYSTEM
-------------------------------------------------*/

$grid-separator-color     : #aaa;
$grid-item-padding-top    : 5px;
$grid-item-padding-bottom : 5px;

%grid__item {
  overflow: hidden;
  padding-top: $grid-item-padding-top;
  padding-bottom: $grid-item-padding-bottom;
}

.l_grid {
  @include grid-container();
}

.l_grid__row {
  @include grid-row();
}

.grid {
  &__twins {
    @extend %grid__item;
    @include grid-cell(6 of 12);
  }
  &__quarters {
    @extend %grid__item;
    @include grid-cell(3 of 12);
  }
  &__triple {
    @extend %grid__item;
    @include grid-cell(4 of 12);
  }
}