/*-------------------------------------------------
SMACSS: LAYOUT - COMMON
-------------------------------------------------*/
$content-padding:     0;
html,
body,
.l_page_wrapper {
  height: 100%;
}

.l_page_wrapper {
  display: table;
  width: 100%;
  max-width: $page-max-width;
  min-width: 320px;

  @include centred();

  @media (max-width: $page-medium) {
    max-width: 100%;
  }
}

/*-------------------------------------------------
SMACSS: LAYOUT - HEADER
-------------------------------------------------*/
.l_header {

}

/*-------------------------------------------------
SMACSS: LAYOUT - CONTENT
-------------------------------------------------*/
.l_content {
  display: table-row;
  height: 100%;

  .l_content__wrapper {
    padding: $content-padding;
  }
}

/*-------------------------------------------------
SMACSS: LAYOUT - CONTENT
-------------------------------------------------*/
.l_sidebar {
  overflow: hidden;
  @include grid-cell(3 of 12);
}
.l_content-with-sidebar {
  overflow: hidden;
  @include grid-cell(9 of 12);
}

/*-------------------------------------------------
SMACSS: LAYOUT - FOOTER
-------------------------------------------------*/
.l_footer {
  text-align: center;
  width: 100%;
}